#Background {
    background-color: rgba(var(--biodiPastel), 0.5);
}

#BtnPrevious, #BtnNext {
    text-align: center;
    cursor: pointer;
}

#BtnPrevious:hover *, #BtnNext:hover * {
    color: rgb(var(--biodiLightGrey));
}

.progress, .progress-bar {
    height: 24px;
    font-size: 16px;
    font-family: BebasNeue, sans-serif;
}

.Slider * {
    background-color: rgb(var(--biodiDarkGrey)) !important;
}

#ExpositionLegend {
    font-family: BebasNeue, sans-serif;
}

.exposition-1 {
    color: #c3b149;
}
.exposition-2 {
    color: #d2c338;
}
.exposition-3 {
    color: #e1d054;
}
.exposition-4 {
    color: #f0df52;
}
.exposition-5 {
    color: #ffee54;
}