
.onePage{
    margin: 0;
    padding:0;
    max-width: 100%;
    background-color: rgb(var(--biodiDarkBlue));
    scroll-behavior: smooth;
}
#balcony{
    background-image: url(img/balconyXL.svg);
    width: 100%;
    background-repeat: no-repeat;
    position: relative;
}
.hidden{
    visibility: hidden;
}

/* -------- PLACEMENT ICONES UP --------*/
#iconswrap{
  width:15%;
    position: absolute;
    left:84%;
    top:2%;
    z-index: 100;
 
}
#balcony img.icons{
    width:19%; 
    margin-right: 3%;
    height: 5vh;
    opacity: 0.6;
    transition: 0.1s;
}
#balcony .icons:hover{ 
    opacity: 1;
    transition: 0.1s;
    cursor: pointer;
}
.hiddenIco{
    display: none;
}
.saving{
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

/* -------- PLACEMENT IMAGES MOBILIER--------*/
.pots{
    background-image: url(img/pot.svg);
    width: 11%;
    height: 15%;
    background-repeat: no-repeat;
}
#bac{
    position: absolute;
    top:69%;
    left:30%;
    background-image: url(img/BAC.svg);
    width: 32%;
    height: 23%;
    background-repeat: no-repeat;
}
#bac:hover{
    opacity: 0.6;
    cursor:auto;
}
#bac:hover img{
    visibility: visible;
}
#bac img:hover{
    opacity: 1;
    transition: 0.2s;
}
#bac img{
    width: 20%;
    position: relative;
    float: left;
    margin-left: 3%;
    margin-top: 4%;
    transition: 0.2s;
}
#pot3{
    position: absolute;
    top: 72%;
    left: 73%;
}
#pot4{
    position: absolute;
    top:78.5%;
    left: 80%;
}
#pot5{
    position: absolute;
    top:85%;
    left: 87%;
}
#suspendedpot{
    background-image: url(img/suspendedpot.svg);
    width: 11%;
    height: 50%;
    position: absolute;
    top: -3%;
    left: 74%;
    background-repeat: no-repeat;
}
#climbingtrail{
    background-image: url(img/climbingtrail.svg);
    width: 12%;
    height: 55%;
    position: absolute;
    top: 13%;
    left: 0.5%;
    background-repeat:no-repeat;
}
.construction{
    background-image: url(img/construction.svg);
    width: 10%;
    height: 30%;
    position: absolute;
    background-repeat: no-repeat;
    
}
#construction1{
    top:70%;
    left: 4%;
}
#construction2 {
	top:60%;
    left:14%;
}
.gradient{
    background-image: linear-gradient(#4e4e4d, rgb(42,66,99));
    height: 60vh;
    border-top: solid 1px #353535;
}
.gradient p{
    text-align: center;
    color: rgb(var(--biodiLightGrey));
    margin-top: 10%;
}
.helper {
	padding: 5%;
    color:rgb(var(--biodiLightGrey)) !important;
    text-align: justify;
}
.helper h1{
    color:white !important;
    text-align: left;
}
.helper h3{
    color:white !important;
    margin-top: 2%;
    margin-bottom: 0.3%;
}
.balconyelement{
    opacity:0.5;
    transition: 0.2s;
}
.balconyelement:hover {
	opacity: 1;
    transition: 0.2s;
    cursor: pointer;
} 

/* -------- PLACEMENT PLUS SUR MOBILIER--------*/
.balconyelement img {
	color: white;
    display: block;
    width: 90%;
    opacity: 0.6;
    position: absolute;
    left: 5%;
    top:-30%;
}
.balconyelement:hover img{
	visibility: hidden;
}
.construction img {
    top: 0%;
}
#suspendedpot img {
    top: 50%;
}
#climbingtrail img {
    top: 20%;
}

/* -------- PLACEMENT PLANTES ETIQUETTES--------*/
.full{
    opacity: 1;
}
.places {
    width: 8%;
    height: auto;
    padding-top: 8%;
    position: absolute;
    border-radius: 50%; 
    background-size: cover;
    background-repeat: no-repeat;
}
.hiddenPlaces{
    display: none !important;
}
#place1 {
    top:54%;
    left: 32%;
    background-image: url(img/fleurs.jpg);
}
#place2{
    top:80%;
    left: 37.5%;
    background-image: url(img/fleurs.jpg);
}
#place3{
    top:54%;
    left: 47%;
    background-image: url(img/fleurs.jpg);
}
#place4{
    top:80%;
    left: 52%;
    background-image: url(img/fleurs.jpg);
}
#place5{
    top:54%;
    left: 74%;
    background-image: url(img/fleurs.jpg);
}
#place6{
    top:60.5%;
    left: 81.5%;
    background-image: url(img/fleurs.jpg);
}
#place7{
    top:67%;
    left: 89%;
    background-image: url(img/fleurs.jpg);
}
#place8{
    top:25%;
    left: 65%;
    background-image: url(img/fleurs.jpg);
}
#place9{
    top:33%;
    left: 15%;
    background-image: url(img/fleurs.jpg);
}
#place10{
    top:75%;
    left: 5%;
    background-image: url(img/fleurs.jpg);
}
#place11{
    top:65%;
    left: 15%;
    background-image: url(img/fleurs.jpg);
}
