#Lausanne #Scoreboard {
    font-family: BebasNeue, sans-serif;
}

#Lausanne .trophy-1 {
    color: #e4c42c;
}

#Lausanne .trophy-2 {
    color: #aaaaaa;
}

#Lausanne .trophy-3 {
    color: #a37a19;
}

#Lausanne .trophy-4, #Lausanne .trophy-5 {
    display: none;
}
