#DashboardLayout {
    background-color: rgba(var(--biodiPastel), 1);
    float: left;
    width: 100%;
}
#wrapDash{
    max-width: 78%;
    float: left;
    height: 100vh;
}
.Hexagon{
    margin-left: 22%;
    z-index: 99;
}
@media (max-width: 768px) {
    #wrapDash{
        max-width: 100%;
        padding-left: 11%;
        min-height: 100vh;
    }
    .Hexagon {
	margin-left: 12%;
}
}
    

