.HexaNew:hover {
    cursor: pointer;
}

.HexaNew .hexanew-1 {
    fill: #bdbdbd;
}

.HexaNew .hexanew-2, .hexanew-3 {
    fill: none;
    stroke: #525c62;
    stroke-miterlimit: 10;
    stroke-width: 5px;
}

.HexaNew .hexanew-3 {
    stroke-dasharray: 20.68 10.34;
}

.HexaNew .hexanew-4, .HexaNew .hexanew-5 {
    fill: #525c62;
}

.HexaNew .hexanew-5 {
    font-size: 60px;
    font-family: "BebasNeue-Regular", "Bebas Neue", "BebasNeue", sans-serif;
}