#Map .zone {
    fill: rgb(var(--biodiLightGrey));
    stroke: rgb(var(--biodiDarkBlue));
    stroke-width: 3px;
    transition: 0.1s;
}

#Map .zoneHover:hover {
    fill: rgb(var(--birdLifeGreen));
    transition: 0.1s;
}

#Map #Tooltip {
    border-radius: 5px;
    padding: 2%;
    width: 22%;
    position: absolute;
    right: 0;
    top: 15%;
}

#Map .hello {
    opacity: 1;
    transition: 0.3s;
}

#Map .hiddenSti {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
}

#Map .sti ul {
    list-style-type: circle;
}

#Map .help {
    opacity: 0;
}

#Map .close {
    opacity: 0;
}

@media (max-width: 768px) {
    #Map #Tooltip {
        display: none;
    }

    #Map .help {
        color: rgb(var(--biodiLightGrey));
        opacity: 1;
        text-decoration: underline;
        text-align: center;
    }

    #Map .close {
        color: rgb(var(--biodiLightGrey));
        text-decoration: underline;
        text-align: center;
    }

    #Map .help:hover ~ .close {
        opacity: 1;

    }

    #Map .hiddenSti, .hello {
        opacity: 0;
    }
}

/* ----------- PAGE LAUSANNE -----------------*/
#Map .score {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    padding: 2%;
    width: 30%;
    text-align: center;
    position: absolute;
}

#Map .hi {
    opacity: 1;
    transition: 0.3s;
}

#Map .hiddenSco {
    -webkit-transition: display 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
}

#Map #nord {
    top: 15%;
    left: 65%;
}

#Map #est {
    top: 55%;
    left: 65%;
}

#Map #sud {
    left: 30%;
    top: 80%;
}

#Map #ouest {
    left: 15%;
    top: 15%;
}

#Map #centre {
    left: 40%;
    top: 50%;
}

#Map .max {
    fill: rgba(var(--birdLifeGreen), 1);
}

#Map .max2 {
    fill: rgba(var(--birdLifeGreen), 0.8);
}

#Map .middle {
    fill: rgba(var(--birdLifeGreen), 0.6);
}

#Map .min2 {
    fill: rgba(var(--birdLifeGreen), 0.4);
}

#Map .min {
    fill: rgba(var(--biodiLightGrey), 1);
}