#Nav .NavEntry i {
    color: rgb(var(--biodiPastel));
    font-size: 1.2em;
    margin-left: 7%;
}

#Nav .NavEntry span {
    color: rgb(var(--biodiPastel));
    font-family: BebasNeue, sans-serif;
    font-size: 1.2em;
}

#Nav .NavEntry:hover {
    background-color: rgba(var(--biodiLightGrey), 0.1);
}