#Nav {
    background-color: rgb(var(--biodiDarkGrey));
    height: 100vh;
    display: block;
    z-index: 10000;
    max-width: 20%;
    float: left;
    margin-right: 2%;
    position: relative;
}
@media (max-width: 768px) {
    #Nav{
        max-width: 85%;
    }
}

#Nav .NavEntry i {
    color: rgb(var(--biodiPastel));
    font-size: 1.2em;
    margin-left: 7%;
}

#Nav .NavEntry span {
    color: rgb(var(--biodiPastel));
    font-family: BebasNeue, sans-serif;
    font-size: 1.2em;
}

#Nav .NavEntry:hover {
    background-color: rgba(var(--biodiLightGrey), 0.1);
}