#App {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

h1, h2, h3 {
  font-family: "BebasNeue", sans-serif;
  color: rgb(var(--biodiDarkGrey));
}

/*.btn-primary, .alert-primary, .text-primary, .bg-primary, .btn-outline-primary, .badge-primary {

}*/